<!DOCTYPE html>
<html>

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/live_checkin.css">
</head>
  <body>
<header>
<% if (user_session) { %>
  <% include ./partials/header %>
<% }
 else { %>
  <nav class="navbar navbar-inverse bg-inverse" role="navigation">
  <div class="container-fluid">

      <div class="navbar-header">


        <a  href="#">
            <span class="navbar-brand">Welcome</span>
        </a>
  <ul class="dropdown-menu">
  <li><a href="/profile/1">Edit your profile</a></li>
  </ul>


          <ul class="nav navbar-nav">
              <li><a href="/admin">Log in</a></li>
              <li><a href="/main">Check in System</a></li>
              <li><a href="/students">About</a></li>
          </ul>
      </div>

  </div>
  </nav>
<% } %>
</header>

    <div class="container_shahriar">
      <form style="opacity:0;" class="rfid" method="POST" action="../main/check" >
        <input style="opacity:0;" type="text" name="cardid" value="">
      </form>
    <p id="today"></p>
    <p id="welcome_msg"><%= msg[0].check_message %></p>
      <%if (msg[0].check_message)  { %>
      <audio src="<%= msg[0].sound %>.m4a" autoplay>
      <p>If you are reading this, it is because your browser does not support the audio element.     </p>
    </audio> <% } %>


      <section>
  <!--for demo wrap-->
  <h1 class="liveh1">Live Check-In</h1>
  <div class="tbl-header">
    <table class="live_table" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="live_th">Name</th>
          <th class="live_th">Check-In Time</th>
          <th class="live_th">Photo</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% for(i=0 ; i < grab.length ; i++){
          var date = grab[i].sign_in_date %>
        <tr>
          <td><%= grab[i].stu_name %></td>
          <td><%= date.toLocaleTimeString() %></td>
          <td><img class="photo" src="/uploads/<%= grab[i].stu_photo_name %>" alt=""></td>
        </tr><% } %>
      </tbody>
    </table>
  </div>
</section>

</div>
    </div>
    <form name="f1" method="POST" action="/main/check" >
      <input style="opacity: 0;" type="password" name="cardid" class="form-control form-control-sm" autofocus >
      <input style="opacity: 0;" type="submit" name="Check" value="Save">
      </form>
    <footer>
      <% include ./partials/footer %>
    </footer>
