<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Records</title>

    <% include ./partials/head %>
      <link href="css/records.css" rel="stylesheet" type="text/css">

</head>
  <body>
<header>
    <% include ./partials/header %>
</header>

<!-- from here -->


  <div class="container">

    <input type="text" id="myInput" class="search" onkeyup="myFunction()" placeholder="Search for names..">
<form action="reports" method="POST" name="f1">
  <div class="options">
  <select name="bootcamps" required >
    <option class="drop_bt">Select Bootcamp</option>
<% for(i=0 ; i < data_name.length ; i++){ %>
    <option value="<%= data_name[i].bootcamp_id %>" ><%= data_name[i].bootcamp_name %></option>
<% } %>
  </select>
<!-- date filter -->
    <p class="p_date">
      From:
    </p>
    <input class="start_date" type='date' id="1" name="start_date"  required />
    <p class="p_date">
      To:
    </p>
    <input class="start_date" type="date" id="2" name="end_date"    required />
    <input type="submit" id="submit" name="submit" class="filter" value="Filter" />
    </div>

        <div class="wrapper">
					<table class="table table-hover" id="acrylic">
						<thead>
							<tr>
								<th>Name</th>

								<th>Check-in Time</th>
                <th>Date</th>
							</tr>
						</thead>
						<tbody >
              <% for(i=0 ; i < data.length ; i++) {
                var date = data[i].sd %>
							<tr>
								<td><%= data[i].sn %></td>
								<td><%= date.toLocaleTimeString() %></td>
                <td><%= date.toDateString() %></td><%}%>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

      <script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("acrylic");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<footer>
  <% include ./partials/footer %>
</footer>

</body>
