<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Register New Student</title>

    <% include ./partials/head %>
    <link href="/css/students.css" rel="stylesheet" type="text/css">

</head>
  <body>
<header>
    <% include ./partials/header %>
</header>

<!-- from here -->


<div class="container_stu">
  <h6 class="message_success">
    <%- messages('messages', locals) %>
    <%=message%>
    <%if(currentuser){%>
    <br />
    Do you want to add Photo for <%=currentuser[0].stu_name%>
    <li><a class="alink" href="/upload/<%= currentuser[0].stu_id %>" >Upload photo</a></li>
    <%}%>
</h4>
        <div class="wrapper">
          <form name="f1" method="POST" action="../students/add" >
					<table class="table table-hover" id="acrylic">
						<thead>
							<tr>
								<th> </th>

                <th> Register New Student </th>
							</tr>
						</thead>
						<tbody >
              <tr>
                <td>Bootcamp</td>
                <td>
                	<select name="slelectbootcamp"  required="" oninvalid="this.setCustomValidity('Bootcamp is required')"
          oninput="setCustomValidity('')" >
                		<option value="">Select bootcamp name</option>
                    <%result.forEach(function(res){%>
                    <option value="<%=res.bootcamp_id%>"> <%=res.bootcamp_name%> </option>
                    <%});%>
                  </select>
                	 </td>
              </tr>
              <tr>
                <td>Student name</td>
                <td>
                  <input type="text" name="stu_name" class="input_fields" required="" oninvalid="this.setCustomValidity('Name is required')"
          oninput="setCustomValidity('')">
                   </td>
              </tr>
          <!--//  TR -->

          <!--  TR -->
              <tr>
                <td>Student birth date</td>
                <td>
                  <input type="date" name="stu_birth" class="input_fields"  required="" oninvalid="this.setCustomValidity('Birth date is required')"
          oninput="setCustomValidity('')" >
                   </td>
              </tr>
          <!--//  TR -->

          <!--  TR -->
              <tr>
                <td>Student nationality</td>
                <td>
                  <select class="input_fields" name="stu_nath"  required="" oninvalid="this.setCustomValidity('Nationality is required')"
          oninput="setCustomValidity('')" >
                    <option value="">Select nationality</option>
                    <%result_country.forEach(function(res){%>
                    <option value="<%=res.num_code%>"> <%=res.nationality%> </option>
                    <%});%>
                  </select>
                   </td>
              </tr>
          <!--//  TR -->

          <!--  TR -->
              <tr>
                <td>Phone #</td>
                <td>
                  <input type="text" name="stu_phon" class="input_fields"  required="" oninvalid="this.setCustomValidity('Student phone is required')"
          oninput="setCustomValidity('')" >
                   </td>
              </tr>
          <!--//  TR -->

          <!--  TR -->
              <tr>
                <td>E-mail</td>
                <td>
                  <input type="email" name="stu_email" class="input_fields" required="" oninvalid="this.setCustomValidity('Email is required')"
          oninput="setCustomValidity('')">
                   </td>
              </tr>
          <!--//  TR -->

          <!--  TR -->
              <tr>
                <td>Post code</td>
                <td>

                  <input type="text" name="zip" size="6" class="input_fields"   required="" oninvalid="this.setCustomValidity('Post code is required')"
          oninput="setCustomValidity('')" >
                   </td>
              </tr>
          <!--//  TR -->

          <!--  TR -->
              <tr>
                <td>Address</td>
                <td>
                  <input type="text" name="stu_address" class="input_fields"  required="" oninvalid="this.setCustomValidity('Address is required')"
          oninput="setCustomValidity('')" >
                   </td>
              </tr>
          <!--//  TR -->

          <!--  TR -->
              <tr>
                <td>City</td>
                <td>
                  <input type="text"  name="stu_city" class="input_fields"  required="" oninvalid="this.setCustomValidity('City is required')"
          oninput="setCustomValidity('')" >
                   </td>
              </tr>
          <!--//  TR -->

          <!--  TR -->
              <tr>
                <td>Card id #</td>
                <td>
                  <input type="text"  name="stu_card" class="input_fields" >
                  </td>
              </tr>
          <!--//  TR -->
              <tr>


               <td colspan="2" align="center">

                 <input type="submit" name="saveme" value="Save student"  class="myButton">
              </td>
              </tr>
          <!--//  TR -->
            </tbody>
          </table>
          </form>
						</tbody>
					</table>
				</div>
			</div>


<footer>
  <% include ./partials/footer %>
</footer>

</body>
